[project]
	description = An app to help you track all things pertaining to your vehicles
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group DPL-Capstone
	owner = group user/megsvetz
[access "refs/for/refs/*"]
	read = group DPL-Capstone
	read = group user/megsvetz
	push = group DPL-Capstone
	push = group user/megsvetz
	label-Code-Review = -2..+2 group DPL-Capstone
	label-Code-Review = -2..+2 group user/megsvetz
	label-Verified = -1..+1 group DPL-Capstone
	label-Verified = -1..+1 group user/megsvetz
	rebase = group DPL-Capstone
	rebase = group user/megsvetz
	removeReviewer = group DPL-Capstone
	removeReviewer = group user/megsvetz
	submit = group DPL-Capstone
	submit = group user/megsvetz
[access "refs/heads/*"]
	read = group DPL-Capstone
	read = group user/megsvetz
	create = group DPL-Capstone
	create = group user/megsvetz
	push = group DPL-Capstone
	push = +force group user/megsvetz
	pushMerge = group DPL-Capstone
	pushMerge = group user/megsvetz
[access "refs/tags/*"]
	push = group DPL-Capstone
	push = +force group user/megsvetz
	pushTag = group DPL-Capstone
	pushTag = group user/megsvetz
	pushSignedTag = group DPL-Capstone
	pushSignedTag = group user/megsvetz
[receive]
	requireChangeId = true
