<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>

<%= link_to('LOGIN NOW!', new_user_session_path) %><br />
<%= link_to('SIGN UP NOW!', new_user_registration_path) %><br/>

<%= link_to('My Vehicles', vehicles_path) %>
