# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/
$(document).ready ->

  $('#get-gas').click ->
    $("#loading_gas").removeClass('hidden')
    zip_code = $('#gas_zip').val()
    $.ajax 'http://maps.googleapis.com/maps/api/geocode/json?address=' + zip_code + '&sensor=false',
    type: 'GET'
    success: (data) ->
      lat = data.results[0].geometry.location.lat
      lng = data.results[0].geometry.location.lng
      $('.change-me').html('Lat: ' + lat + ', ' + 'Lon: ' + lng + '<br><br>')
      getGas(lat, lng)
    error: (data) ->
      console.log data

  getGas = (lat, lng) ->
    distance = $('#distance_zip').val()
    if distance is ''
      distance = 20
    $.ajax 'http://api.mygasfeed.com/stations/radius/' + lat + '/' + lng + '/' + distance + '/reg/price/' + "<%= ENV['gas_api'] %>" + '.json',
      type: 'GET'
      success: (data) ->
        $("#loading_gas").addClass('hidden')
        $('.gas-table').find("tr:gt(0)").remove()
        $('.gas-table').removeClass('hidden')
        console.log data.stations[0].lat
        console.log data.stations[0].lng
        #$('.change-me').html('Cheapest gas near you is: $' + cheapgas + '<br>' + station + '<br>' + address )
        gasstations = 10
        i = 0
        gasLatLon = []
        while i < gasstations
          cheapgas = data.stations[i].reg_price
          updated = data.stations[i].reg_date
          if cheapgas is 'N/A' or updated is '1 year ago' or updated is '2 years ago' or updated is 'N/A' or updated is '3 months ago' or updated is '2 months ago'
            gasstations += 1
          else
            station = data.stations[i].station
            address = data.stations[i].address
            city = data.stations[i].city
            state = data.stations[i].region
            $('.gas-table').append '<tr><td>$' + cheapgas + '</td><td>' + station + '</td><td>' + address + ',  ' + city + ', ' + state + '</td></tr>'
            gasLatLon.push({lat: parseFloat(data.stations[i].lat), lng: parseFloat(data.stations[i].lng), name: station, infowindow: station + '  $' + cheapgas + '<br>' + address + '<br>' + city + ', ' + state})
          i++
        buildMap(gasLatLon)
      error: (data) ->
        $("#loading_gas").addClass('hidden')
        console.log data
        alert 'How many miles out would you like to search? Please enter a number between 1 - 50.'

  sendCoord = (lat, lng) ->
    console.log 'on coord' + lat
    $.ajax '/gas/coords',
      type: 'GET'
      data: {latitude: lat, long: lng}
      success: (data) ->
        console.log data
      error: (data) ->
        console.log data

  buildMap = (latsandlongs) ->
    handler = Gmaps.build('Google')
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, ->
      markers = handler.addMarkers(latsandlongs)
      #createSidebar(latsandlongs);
      handler.bounds.extendWith(markers)
      handler.fitMapToBounds()
    )

  # createSidebar = (json_array) ->
  #   console.log json_array
  #   _.each json_array, (json) ->
  #     $li = $(createSidebarLi(json))
  #     $li.appendTo '#sidebar_container'
  #     bindLiToMarker $li, json.marker
