<div class="modal fade" id="registration_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Good Job! You completed your goal!</h4>
      </div>
      <div class="modal-body">
        <p>Want to share to our Twitter&hellip;</p>
        <div id="twitter-error" class="hidden">
          To post to Twitter, please fill out the text box.
        </div>
        <textarea id="twitter_body" rows="4" cols="50" maxlength="140">I completed my goal at KickIt.com!</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="no_thanks_button" class="btn btn-default" data-dismiss="modal">No, thanks</button>
        <button type="button" id="share_button" class="btn btn-primary">Share</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
