
<% @vehicles.each do |a| %>
  <table class='table'>
    <tr>
      <td><%= image_tag a.image.url(:thumb) %></td>
      <td><%= link_to a.make + ' ' + a.model, vehicle_path(a.id) %></td><br>
      <td><%= link_to 'Add Repair', new_vehicle_repair_path(a.id) %></td>
      <td></td>
    </tr>
  </table>
  <%= link_to 'Add Vehicle', new_vehicle_path %>
<% end %>
