<div class='container'>
  <div class='vehicle-header text-center'>Selling your Vehicle</div>
    <hr />
      <div class="row">
          <div class="col-sm-6">
            <h3 id="h3_10" class="h3_classes">10. Do Your Homework.</h3>
            <div id="num10">
              In car sales, there's nothing more valuable than knowledge. Well, maybe one of those inflatable tube men. But other than that, the one thing that can make or break your sale is how much you know about the car. Here are a few things you should know about the car you're selling:
              <ul>
                <li>Year/Make/Model/VIN/Factory Paint Color Code/Date of Manufacture</li>
                <li>Does the car have any outstanding recalls? Has any recall work been performed?</li>
                <li>What are the common issues for this particular car? Have they been addressed?</li>
                <li>How large is the displacement of the engine? On average, how many miles per gallon does the car return combined?</li>
                <li>What is the average selling price for a car in this condition?</li>
              </ul>
              Wikipedia or specific car forums are indispensable information hubs to learn about a specific make and model. A few choice hours spent learning about the thing you're selling can translate into actual dollars when selling time comes around.
            </div>
            <h3 id="h3_9" class="h3_classes">9. "Book Value" Is Almost Worthless.</h3>
            <h3 id="h3_8" class="h3_classes">8. Get The Vehicle History.</h3>
            <h3 id="h3_7" class="h3_classes">7. Get The Vehicle Service History.</h3>
            <h3 id="h3_6" class="h3_classes">6. Detail The Car Thoroughly.</h3>
            <h3 id="h3_5" class="h3_classes">5. Take as many detailed pictures as possible.</h3>
            <h3 id="h3_4" class="h3_classes">4. Be Anal In Your Description.</h3>
            <h3 id="h3_3" class="h3_classes">3. Be Easy To Reach.</h3>
            <h3 id="h3_2" class="h3_classes">2. Leave The Buyer Alone.</h3>
            <h3 id="h3_1" class="h3_classes">1. Don't Buckle On The Price.</h3>
          </div>
      </div>
  </div>
</div>
