<div class='container'>
  <div class='vehicle-header text-center'>Selling your Vehicle</div>
    <hr />
      <div class="row">
          <div class="col-sm-4" style="border-right: 1px solid;">
            <h3 id="h3_10" class="h3_classes">10. Do Your Homework.</h3>
            <div id="num10">
              In car sales, there's nothing more valuable than knowledge. Well, maybe one of those inflatable tube men. But other than that, the one thing that can make or break your sale is how much you know about the car. Here are a few things you should know about the car you're selling:
              <ul>
                <li>Year/Make/Model/VIN/Factory Paint Color Code/Date of Manufacture</li>
                <li>Does the car have any outstanding recalls? Has any recall work been performed?</li>
                <li>What are the common issues for this particular car? Have they been addressed?</li>
                <li>How large is the displacement of the engine? On average, how many miles per gallon does the car return combined?</li>
                <li>What is the average selling price for a car in this condition?</li>
              </ul>
              Wikipedia or specific car forums are indispensable information hubs to learn about a specific make and model. A few choice hours spent learning about the thing you're selling can translate into actual dollars when selling time comes around.
            </div>
            <h3 id="h3_9" class="h3_classes">9. "Book Value" Is Almost Worthless.</h3>
            <div id="num9">
              Every time I'm asked about a car I purchase or sell, the issue of "book value" always rears its inaccurate and obfuscatory head. There's a simple reason book value doesn't work (in nearly any market), and that's because culture and attitudes affect market trends at a much faster rate than any static depreciation valuation can keep up with. There's a reason a '94 Toyota Supra Turbo 6-Speed with 50,000 miles has a book value of $29k, but you can't find any for less than $40,000 in a condition that would be considered drivable, much less "excellent" — it's because demand has overcome the supply.
              <br><br>
              Ten Common Sense Tips For Successfully Selling Your Car Online<br>
              The opposite can also be true, where a car is severely overvalued in Kelley Blue Book or NADA, but much cheaper in the market.
              <br><br>
              A great metric on what cars are actually worth is eBay, but it's not enough to browse listings. On the left sidebar, when choosing search parameters, make sure "completed listings" is checked. This way, you'll be able to see the cars that sold, but more importantly, you'll see the cars that didn't sell. This is an invaluable metric because you can do a direct comparison between the quality of the sold and unsold listings and see what in particular works in the marketplace to get the most buck for your listing.
            </div>
            <h3 id="h3_8" class="h3_classes">8. Get The Vehicle History.</h3>
            <div id="num8">
              It's quite surprising how often this is left out in private sales. Although it is in the best interest of the buyer to do this, having a private seller than can pull a current history report of the car they're selling adds to the seller's credibility, and gives the buyer a reason to trust that the seller is portraying everything honestly. You can get a report from one of the two major vehicle history services, Carfax or Autocheck. A single report can be as little as $20, and it can mean the difference between a questioning buyer giving you a lowball chance offer, and a confident buyer giving you fair market price.
            </div>
            <h3 id="h3_7" class="h3_classes">7. Get The Vehicle Service History.</h3>
            <div id="num7">
              This is the sort of thing that you can't exactly replicate, but it can make a astronomical difference in selling price. If you have the paperwork associated with parts purchased and work orders for a car, it shows not only that the car was taken care of, but that the owner puts a certain amount of pride in the car they're selling. It helps to put everything in a folder, with the dates of service or receipts in chronological order. Hell, laminate them if you can. But what happens if your car didn't come with documented service history?
              <br><br>
              You have a few options:
              <br><br>
              Go to the car manufacturer's dealer and request service history. Most dealers will provide you with paperwork if you're the legal owner, either for free or a nominal fee, but some dealerships have policies against this. Usually a service tech can pull it up for you and at least let you know if anything major was done to the car at the dealer level.
              <br><br>
              If you can't acquire any information from the dealer, make sure to start collecting receipts for the work you've done personally. A partial service history that reflects the car's current state is much better than no history at all. It helps to go to the dealer and perform a Pre-Purchase Inspection (PPI) and get it in writing so the buyer knows exactly what state the car is in and if they'll need to do any reconditioning after the initial purchase.
            </div>
            <h3 id="h3_6" class="h3_classes">6. Detail The Car Thoroughly.</h3>
            <div id="num6">
              One of the first things that turns buyers off in an inspection is a filthy car. Detailing a car is indeed an art, but it need not be an expensive or arduous one. You'd likely be fine giving the car a cheap hand wash locally, but detailing allows you to virtually polish money into the finish of the car.
            </div>
            <h3 id="h3_5" class="h3_classes">5. Take as many detailed pictures as possible.</h3>
            <div id="num5">
              When a person is browsing car listings online, the more information they can get about a specific car, the more likely they'll find something that appeals to them. Make sure to take as many high-resolution pictures as possible. Modern point-and-shoot cameras have great dynamic range and amazing quality. Stay away from taking pictures with cell phone cameras, as their lenses leave a lot to be desired, and have a tendency of compressing images and decreasing quality in less-than-optimal lighting environments. If you can get your hands on a DSLR camera with a decent lens, go for it.
              <br><br>
              Use a cheap tripod to stabilize the camera when the camera needs to take longer exposure shots, for example, in the interior, where there may not be enough light. Unless you know how to use flash, remove it and just go for longer exposures. The forward-facing flash on most cameras is simply too harsh to make a picture look natural in low lighting.
                <br><br>
              Craigslist has a limit of 8 pictures per listing, and eBay has a limit of 24, but with a little HTML trickery, you can add as many pictures as you want in the description. If you're not comfortable with this method, you can always link to an online photo album like Flickr or Photobucket where you have the pictures stored. Refrain from doing too many "artsy" shots and just stick with how the car naturally looks. Make sure to include the engine bay, trunk, underside, and any other place that a savvy buyer would look in an initial inspection.
            </div>
            <h3 id="h3_4" class="h3_classes">4. Be Anal In Your Description.</h3>
            <div id="num4">
              Since the buyer will likely be living with the car, they will notice all of the car's issues, both minor and major. It's important to call attention to these issues so the seller and buyer are on the same page. This is a tactic to increase the seller's credibility, and to give the potential buyer less wiggle room in price negotiations. Here are some examples of questions that should be answered with the description:
              <ul>
                <li>Does the car have small or large imperfections in the paint?</li>
                <li>Was it repainted?</li>
                <li>Did it have any accidents that weren't reported on the vehicle's history report?</li>
                <li>Are the tires matching? What is the condition of the set?</li>
                <li>Does the car leak any oil?</li>
                <li>Does the car need an alignment?</li>
                <li>Have you experienced any intermittent or long-term faults?</li>
                <li>Has any major repair work been done?</li>
              </ul>
              Obviously, answering questions like these make for a quite lengthy description, but there's an easy way to make the information more digestible - break it up into sections (Interior, Exterior, Engine, Suspension, Wheels/Tires, Electronics, Drivability), each one describing the features of that particular part of the car, then outlining the condition. For example, a buyer can refer to the interior section when they want to know what options were installed, and if they're in good working order. It lets the buyer have as much information as possible, and allows them to skip to the parts they're most interested in.

            </div>
            <h3 id="h3_3" class="h3_classes">3. Be Easy To Reach.</h3>
            <div id="num3">
              If you're posting on Craigslist or anywhere else online, ALWAYS include a number. It's insanely frustrating to see a good deal, but the seller only has email as a viable means of contact, and — surprise, surprise — they don't check their mail all that often, so when they eventually get around to checking their mail, whoever sent them mail last will likely be the first one to get a reply. Don't be that guy.
              <br><br>
              If you're worried about strangers having your number, I'll introduce you to a concept called the phone book. If you're still apprehensive, Google gives you a free, area code specific number to use as a call forwarding service. This works extremely well and as soon as you receive the call, you'll know that it's specifically about the sale of the car.
              The service also saves the text messages you get to email, so you can reply quickly without giving away your real number.
            </div>
            <h3 id="h3_2" class="h3_classes">2. Leave The Buyer Alone.</h3>
            <div id="num2">
              When you've finalized a time for the potential buyer to come see the car, make sure to have all the paperwork (mentioned above) handy. Give them the keys to look around and start the car, and stand back so they can do their inspection. You can mention any change in condition that wasn't reflected in the description (recent repairs, mileage changes), but as a general rule, only speak when spoken to.
              <br><br>
              Answer questions truthfully, and remember that it's perfectly fine to say "I don't know" if you're stumped on a particular query. If the buyer requests a test drive, sit in the passenger's seat and do your best to keep to yourself, guiding the buyer to the appropriate roads. It's fine to strike up conversation to ease the rapport, but be careful not to get too impersonal, as that can convey the idea that you're not serious about the sale price.
            </div>
            <h3 id="h3_1" class="h3_classes">1. Don't Buckle On The Price.</h3>
            <div id="num1">
              If your car is desirable enough, you'll have people practically knocking your door down to buy it. A fair number of these individuals will want a significant discount on the price, for any number of reasons. It's important that you choose a price that's realistic, based on market value (not sentimental value), and that you don't dip below that price if there is enough demand.
              <br><br>
              If your price is negotiable, inflate it by 10 percent, with a "Best Offer" option. That way the buyer feels like they saved some money and the seller gets the most that they can for their car. It's win-win, which is the best way to approach a transaction in general.
            </div>
          </div>
          <div class="col-sm-4">
            <%= image_tag("car_value.jpeg", width: '500px') %>
          </div>
      </div>
  </div>
</div>
