@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

body {
  font-family: 'Oswald', sans-serif;
  min-height:300px; 
}
li {
  padding-top:.30%;
}
li a {
  color:white;
}
.footer_list {
  color:#A3A3A3;
  display:inline;
}
.footer_list li {
  display:inline;
  padding-left:6%;
  padding-right:6%;
}
.extra {
  margin-left:10%;
  margin-right:10%;
}
.details {
  background-color:#EDEDEC;
}
.features {
  margin-left:10%;
  margin-right:10%;
  margin-bottom:3%;
  padding-bottom:2%;
}
.features span {
  padding-bottom:1%;
}
.details h4 {
  font-size:15px;
}
.details td {
  padding-right:5%;
}
.arrow {
  width:15%;
  text-align:right;
}
.sentence {
  text-align:left;
  padding-left:2%;
}
.road_header {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("road.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}
.road_header h1 {
  font-family: 'Abril Fatface', sans-serif;
  margin:0;
  color:white;
  font-size:6vmax;
  padding-top:8%;
  padding-bottom:1%;
  padding-right:30%;
  padding-left:5%;
}
.road_header h3 {
  color:white;
  font-size:2.2vmax;
  padding-bottom:7%;
}
.navbar {
  border-radius:0px;
  margin-bottom:0px;
}
.nav {
  margin-bottom:0px;
}
.navbar-inverse {
  margin-bottom:0px;
}
.features td {
  width: 25%;
  margin-left:5%;
}

.vehicle_show {
  height: 260px;
  width: 300px;
}

.vehicle-header{
  margin-top: 1%;
  font-size: 3.5em;
}

.vehicle-text {
  margin-right: 10%;
  margin-left: 22%;
}

.form-align {
  margin-left:auto;
  margin-right:auto;
}

.contact-form-fields{
  border: none;
  box-shadow: none;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F7F7F6;
  border-radius: 50px;
  padding: 14px 24px 14px 24px;
  width: 100%;
  margin-bottom: 30px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.social_media_buttons {
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
color: grey;
float: right;

}
