// Place all the styles related to the vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#num9, #num8, #num7, #num6, #num5, #num4, #num3, #num2, #num1{
  display: none;
}

.add-button{
  font-size: 57px;
  box-shadow: 6px 6px 5px #888888;
  margin-top: 30%;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 30%;
}
