<div class="container">
  <h2>Things to expect with Premium Membership</h2>
  <div class="row">
    <div class="col-sm-6 no-padding">
      <div class=" basic">
        <h3>Basic Plan</h3>
        <ul>
          <li>2 cars</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 no-padding">
      <div class="premium">
        <h3>Premium Plan</h3> - <i>$5.00/year</i>
        <ul>
          <li>Unlimited Cars</li>
        </ul>
        <%= form_tag charges_path do %>
        <div class="text-center">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="A year's subscription"
                  data-image="/assets/car.jpg"
                  data-name="GloveBox"
                  data-email="<%= current_user.email %>"
                  data-allow-remember-me=false
                  data-amount="500"
                  data-label="Upgrade my Account"></script>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
