<div class="nav nav-justified text-center" style="background-color:black">
  <div class="col-sm-12">
    <div style="background-color:black">
      <br>
<!--       <br><ul class="footer_list text-center hidden-xs">
        # <li><%= link_to 'What is GLOVEBOX?', root_path %>
        </li>|
        <li><%= link_to 'Sign Up', new_user_registration_path %>
        <br>
      </ul> -->
      <footer class="text-center" style="color:#6B6B6B; margin-top:2%">
        
        Copyright &copy; <%= Time.now.year %> 
        <br>
      </footer>
      <br>
      <br>
    </div>
  </div>
</div>
