<div>
 <%= link_to image_tag("car.jpg", width: "75px", alt: "Glovebox"), root_path %>
   <a class="social_media_buttons" href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
  <a class="social_media_buttons" href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
  <a class="social_media_buttons" href="#"><i class="fa fa-github-square fa-3x"></i>
  <a class="social_media_buttons" href="#"><i class="fa fa-facebook-official fa-3x"></i>
 </div>
 




