<div>
  <%= link_to image_tag("car.jpg", width: "75px", alt: "Glovebox"), root_path %>
  <a class="social_media_buttons"  href="https://twitter.com/thegloveboxapp" target = "_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
  <a class="social_media_buttons" href="https://github.com/megsvetz/glovebox" target = "_blank"><i class="fa fa-github-square fa-3x"></i></a>
  <a class="social_media_buttons" href="https://www.facebook.com/TheGlovebox.WebApp" target = "_blank" ><i class="fa fa-facebook-square fa-3x"></i></a>
</div>

